<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="css/modules/ngDialog.css"></link>
<link rel="stylesheet" href="css/modules/ngDialog-theme-default.css"></link>
<link rel="stylesheet" href="css/modules/ngDialog-theme-plain.css"></link>
<link rel="stylesheet" href="css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>

<body>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
	<script src="scripts/modules/ngDialog.js"></script>
	<script src="scripts/simpleUmController.js"></script>

	<div class="container" ng-app="simpleUm" ng-controller="simpleUmController">

    <!-- Templates -->
    <script type="text/ng-template" id="registerUserDialog">
      <div ng-include="'userForm.html'"></div>
    </script>
    
		<div class="jumbotron">
      <h1>ACME.org</h1>
    </div>

		<table class="table table-striped">
			<tr>
        <td colspan="4"></td>
				<td>
					<button class="btn btn-primary" ng-click="openAddDialog()">+</button>
				</td>
			</tr>
			<tr>
				<th>
				  <a href="#" ng-click="sortProperty = 'firstName'">First Name</a>
				</th>
				<th>
          <a href="#" ng-click="sortProperty = 'lastName'">Last Name</a>
        </th>
				<th>
          <a href="#" ng-click="sortProperty = 'email'">E-mail</a>
        </th>
        <th>
          <a href="#" ng-click="sortProperty = 'birthdate'">Date of Birth</a>
        </th>
				<th></th>
			</tr>
			<tr ng-repeat="user in users | orderBy:sortProperty">
				<td>{{ user.firstName }}</td>
				<td>{{ user.lastName }}</td>
				<td>{{ user.email }}</td>
        <td>{{ user.birthdate }}</td>
				<td>
				  <button class="btn" ng-click="deleteUser(user.email)">X</button>
				</td>
			</tr>
		</table>

	</div>

</body>
</html>
