<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="css/modules/ngDialog.css"></link>
<link rel="stylesheet" href="css/modules/ngDialog-theme-default.css"></link>
<link rel="stylesheet" href="css/modules/ngDialog-theme-plain.css"></link>
</head>

<body>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
	<script src="scripts/modules/ngDialog.js"></script>
	<script src="scripts/simpleUmController.js"></script>

	<div ng-app="simpleUm" ng-controller="simpleUmController">

		<p>Users:</p>

		<table>
			<tr>
				<td colspan="4" align="right">
					<button ng-click="openAddDialog()">+</button>
				</td>
			</tr>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>E-mail</th>
				<th></th>
			</tr>
			<tr ng-repeat="user in users">
				<td>{{ user.firstName }}</td>
				<td>{{ user.lastName }}</td>
				<td>{{ user.email }}</td>
				<td>
				  <button ng-click="deleteUser(user.email)">X</button>
				</td>
			</tr>
		</table>

	</div>

</body>
</html>
