<!DOCTYPE html>
<html>
<head>
<title>Acme Corporation</title>
<link rel="stylesheet" href="css/modules/ngDialog.css"></link>
<link rel="stylesheet" href="css/modules/ngDialog-theme-default.css"></link>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="css/simpleUm.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
<script src="scripts/modules/ngDialog.js"></script>
<script src="scripts/simpleUm.js"></script>
</head>

<body>

	<div class="container" ng-app="simpleUm" ng-controller="simpleUmController">

    <!-- Templates -->
    <script type="text/ng-template" id="registerUserDialog">
      <div ng-include="'userForm.html'"></div>
    </script>
    
		<div align="center" class="jumbotron">
		  <div class="col-md-3">
		    <img src="img/logo.jpg" class="img-circle" alt="Acme Corporation" width="150" height="120">
		  </div>
		  <div class="col-md-9">
	      <h1>Client Management</h1>
		  </div>
    </div>

		<table class="table table-striped table-hover">
      <thead>
				<tr class="not-editable" align="right">
	        <td colspan="3"></td>
					<td>
						<button class="btn btn-primary" ng-click="openAddDialog()">
							<span class="glyphicon glyphicon-plus-sign"></span>
							Add User
						</button>
					</td>
				</tr>
				<tr class="not-editable">
					<th>
					  <a href="#" ng-click="setSortBy('firstName')">First Name
					    <span ng-show="isToShowChevron('firstName', 'down')" class="glyphicon glyphicon-chevron-down"></span>
					    <span ng-show="isToShowChevron('firstName', 'up')" class="glyphicon glyphicon-chevron-up"></span>
					  </a>
					</th>
					<th>
	          <a href="#" ng-click="setSortBy('lastName')">Last Name
	            <span ng-show="isToShowChevron('lastName', 'down')" class="glyphicon glyphicon-chevron-down"></span>
              <span ng-show="isToShowChevron('lastName', 'up')" class="glyphicon glyphicon-chevron-up"></span>
	          </a>
	        </th>
					<th>
	          <a href="#" ng-click="setSortBy('email')">E-mail
	            <span ng-show="isToShowChevron('email', 'down')" class="glyphicon glyphicon-chevron-down"></span>
              <span ng-show="isToShowChevron('email', 'up')" class="glyphicon glyphicon-chevron-up"></span>
	          </a>
	        </th>
	        <th>
	          <a href="#" ng-click="setSortBy('birthdate')">Date of Birth
	            <span ng-show="isToShowChevron('birthdate', 'down')" class="glyphicon glyphicon-chevron-down"></span>
              <span ng-show="isToShowChevron('birthdate', 'up')" class="glyphicon glyphicon-chevron-up"></span>
	          </a>
	        </th>
				</tr>
      </thead>
			<tbody>
				<tr class="editable" ng-repeat="user in users | orderBy:sortProperty:reverseSort" ng-click="openEditDialog(user)">
					<td>{{ user.firstName }}</td>
					<td>{{ user.lastName }}</td>
					<td>{{ user.email }}</td>
	        <td>{{ user.birthdate | date:'yyyy-MM-dd' }}</td>
				</tr>
			</tbody>
		</table>

	</div>

</body>
</html>
